#side-bar {
  background-image: url("./img/sidebar-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #0f263d;
}

#side-bar li svg {
  height: 30px;
  width: 30px;
}
